.goal-item {
    margin: 1rem 0;
    padding-right: 1%;
    background: $dark-grey;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
    color: $green;
    word-wrap: break-word;
    padding: 1rem 2rem;
    cursor: pointer;
  }
  