// Colors
$dark-grey: #333;
$grey: #666;
$blue: #6ccdfd;
$dark-blue: #364051;
$off-white: #f7f7f7;
$black: rgb(1,1,1);
$light-grey: rgb(212, 212, 212);
$orange: rgb(226, 126, 33);
$light-orange: rgb(231, 180, 85);
$green: rgb(111, 202, 99);
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
